.nav-bar{
    background-color:#6202ee ;
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    position: relative;
}

.nav-left{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: white;
}

.nav-right{
    position: absolute;
    right: 50px;
}

img{
    height: 2rem;
}
